@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root {
    --font: 'Work Sans', sans-serif;
    --mainColor: #6464ff;
    --secColor: #9e9eff;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--secColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0pc;
    padding: 0pc;
    text-decoration: none;
    list-style: none;
}

.quiz-container {
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 350px;
    grid-gap: 2pc;
    padding: 4pc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px;
}

.quiz-modules:hover {
    background-color: #4747ff;
}

.quiz-modules {
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    background-color: var(--mainColor);
    border-radius: 5px;
    height: 90px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-modules h2 {
    font-family: var(--font);
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.quiz-screen {
    display: flex;
    width: max-content;
}

.quiz-template {
    position: absolute;
    top: 12.6pc;
    left: 33.5pc;
    width: 465px;
    overflow: hidden;
    display: none;
    /* color: rgb(219, 255, 219); */
    /* color: rgb(255, 219, 219); */
}

.quiz-test {
    background-color: white;
    width: 340px;
    padding: 4pc;
    height: 320px;
    font-family: var(--font);
    color: black;
}

.question {
    font-size: 23px;
    font-weight: bold;
}

.answer:hover {
    background-color: rgb(240, 240, 255);
    cursor: pointer;
}

.answer {
    margin-top: 1.5pc;
    border: solid 1px #9e9eff;
    padding: 8px;
    border-radius: 4px;
}

.heading {
    width: 350px;
    height: 4.7pc;
    font-family: var(--font);
    font-size: 22px;
    letter-spacing: 3px;
    padding: 0pc 4pc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px;
    z-index: 1;
}

.heading h3 {
    color: var(--mainColor);
}

.time-display {
    display: flex;
}

.timer {
    height: 47px;
    width: 45px;
    border-radius: 45px;
    padding-left: 3px;
    border: solid 2px var(--mainColor);
    display: none;
    justify-content: center;
    align-items: center;
}

.info-img {
    height: 20px;
}

.quiz-rules div {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1pc;
}

.quiz-rules {
    position: absolute;
    font-family: var(--font);
    box-shadow: none;
    height: 435px;
    padding: 0pc;
    margin-top: 5pc;
    display: none;
}

.quiz-rules-display {
    display: flex;
}

.quiz-rules button {
    width: 80px;
    height: 35px;
    background-color: var(--mainColor);
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: var(--font);
    font-size: 17px;
}